.container-para {
    background-color: aqua;
    border: 2px solid black;
}

#btn {
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    margin-left: 6rem;
}

#btn:hover {
    background-color: black;
    color: white;
}